<ion-header>
  <ion-toolbar>
    <ion-title>Chat Invite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-div">
    <ion-card mode="ios">
      <ion-card-header>
        <ion-card-title>Connecting to {{inviteUsername}}!</ion-card-title>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ng-container *ngIf="!authService.isLoggedIn">
          <ion-text>
            <p>Enter a unique username and get started with secretly!</p>
          </ion-text>
          <ion-col size="12" class="ion-margin-bottom margin-top-1">
            <ion-item fill="outline" mode="md">
              <ion-label position="floating">Choose Username</ion-label>
              <ion-input
                required
                autofocus=""
                id="username"
                name="username"
                [(ngModel)]="username"
              ></ion-input>
            </ion-item>
          </ion-col>

          <ion-button
            [disabled]="!username || username.trim().length === 0"
            (click)="createUser()"
            expand="block"
            >Start Secretly!</ion-button
          >
        </ng-container>

        <ng-container *ngIf="authService.isLoggedIn && !sameUser">
          <ion-text>
            <p>
              Get connected with {{inviteUsername}} by clicking button below!
            </p>
          </ion-text>

          <ion-button (click)="createChat()" expand="block"
            >Start Secretly!</ion-button
          >
        </ng-container>
        <ng-container *ngIf="authService.isLoggedIn && sameUser">
          <ion-text color="danger">
            <h1>You cannot talk to yourself :)</h1>
          </ion-text>
        </ng-container>

        <!-- <ion-item>
          <ion-label position="floating">Choose Username</ion-label>
        </ion-item> -->
      </ion-card-content>
      <!--
    <ion-text color="secondary">
      <h1>Get Started</h1>
    </ion-text>
     <ion-text color="primary">
      <h2>by choosing a username</h2>
    </ion-text> -->
    </ion-card>
  </div>
</ion-content>
